



<div class="table">
    <div class="grid">
        <div class="row" style="background-color: lightslategray;">Name</div>
        <div class="row" style="background-color: lightslategray;">Deadline</div>
        <div class="row" style="background-color: lightslategray;">Priority</div>
        <div class="row" style="background-color: lightslategray;">Tags</div>
        <div class="row" style="background-color: lightslategray;">Description</div>
        <div class="row" style="background-color: lightslategray;">Manage</div>
    </div>

    <div class="grid">
        <div class="row">Code</div>
        <div class="row">12/12/2022</div>
        <div class="row">1*</div>
        <div class="row">code, c#, asp, .net</div>
        <div class="row">Code web application</div>
        <button class="button">Delete</button>
        
    </div>
    <div class="grid">
        <div class="row">Shopping</div>
        <div class="row">13/12/2022</div>
        <div class="row">2*</div>
        <div class="row">food, shop, shopping</div>
        <div class="row">Go shop</div>
        <button class="button">Delete</button>
    </div>
    <div class="grid">
        <input type="text" class="row" style="background-color: #ededed; width: 100%;" />
        <input type="date" class="row" style="background-color: #ededed; width: 100%;" />
        <input type="text" class="row" style="background-color: #ededed; width: 100%;" />
        <input type="text" class="row" style="background-color: #ededed; width: 100%;" />
        <input type="text" class="row" style="background-color: #ededed; width: 105.6%;" />
        <button class="button">+ Add item</button>
    </div>
</div>
